@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

:root {
    padding: 0px;
    border: 0px;
    font-family: outfit, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    background-color: hsl(217, 54%, 11%);
    max-width: 300px;
    margin: auto;
    padding: 5% 0%;
}

.card {
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1.5rem;
}

.foto {
    display: flex;
    background-color: hsl(178, 100%, 50%);
    border-radius: 0.65rem;
    width: 100%;
    position: relative;
}

.foto img {
    width: 100%;
    border-radius: 0.5rem;
}

.view {
    position: absolute;
    right: 50%;
    top: 25%;
    transform: translate(50%);
}

.card img:hover {
    cursor: pointer;
    opacity: 0.5;
}

.info h2 a {
    text-decoration: none;
    color: white;
    opacity: 0.9;
}

.info h2 a:hover {
    color: hsl(178, 100%, 50%);
}

.info span {
    color: hsl(215, 51%, 70%);
    opacity: 0.75;
}

.eth {
    justify-content: space-between;
    align-items: center;
}

.icon ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsl(215, 32%, 27%);
    padding: 0rem 0rem 0.75rem 0rem;
    color: hsl(215, 51%, 70%);
    opacity: 0.9;
}

.icon li {
    list-style-type: none;
}

.icon li span {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

ul li {
    display: flex;
    justify-content: center;
}

li img {
    margin-right: 5px;
}

.creation {
    display: flex;
    justify-content: start;
    align-items: center;
    color: hsl(215, 51%, 70%);
    opacity: 0.9;
}

.creation img {
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    margin-right: 10px;
}

.creation a {
    text-decoration: none;
    color: white;
    margin-left: 4px;
}

.creation a:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
